<div class="footer">
    <div style="padding-left: 180px; float: left;" align="left">
        <a href="#">
            <img src="assets/img/logopie.png" height="90px" width="250px">
        </a>
    </div>
    <div>
        <div class="contenedor" style="overflow: hidden;">
            <div>
                <ul>
                    <li><img src="assets/img/iconpie1.png" style="float: left;">+595 21 728 9822</li>
                    <li><img src="assets/img/iconpie2.png" style="float: left;">(0993) 301 366</li>
                    <li>
                        <a href="#"><img src="assets/img/iconpie3.png" style="float: left;">info@pagofacil.com.py</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><img src="assets/img/iconpie4.png" style="float: left;">/Pago Fácil</li>
                    <li><img src="assets/img/iconpie5.png" style="float: left;">/Pago Fácil</li>
                    <li><img src="assets/img/iconpie6.png" style="float: left;">Eusebio Ayala c/ R.I 3 Corrales 4090</li>
                </ul>
            </div>
        </div>

        <div class=container>
            <p>
                Pago Fácil S.A &copy;2020. Todos los derechos reservados
            </p>
        </div>

    </div>

</div>