.footer {
    text-align: center;
    bottom: 0px;
    background-color: #113974;
    color: white;
    font-family: Myriad, sans-serif;
    width: 100%;
    text-align: center;
}

.contenedor div {
    display: inline-block;
}

.container {
    text-align: justify;
    margin-bottom: 0px;
}